[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-trailing-whitespace"]
	path = bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/typoscript"]
	path = bundle/typoscript
	url = https://github.com/t3elmar/vim.typoscript.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T
